body {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: rgba(145, 209, 196);
}

.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: 70%;
  max-width: 450px;
}

#submitQuizButton {
  background-color: #008040;
  color: white;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-content {
  flex-grow: 1;
}

.quiz-button {
  margin-left: 20px;
}

.popup-content {
  position: relative;
  padding: 20px;
}

.popup-content h2 {
  color: rgba(82, 179, 116);
  margin-bottom: 10px;
}

.popup-content h2.rate-experience {
  animation: flash infinite;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.popup-content p {
  color: black;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.form-group {
  margin: 20px 0;
}
.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star-rating .star {
  cursor: pointer;
  font-size: 30px;
  color: transparent;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.star-rating .star::before {
  content: "☆";
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(82, 179, 116);
}

.star-rating .star.selected::before,
.star-rating .star.hover::before {
  content: "★";
  color: rgba(82, 179, 116);
}

.number-circle {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.number-circle span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  background-color: #ccc;
  transition: background-color 0.2s;
  border: 2px solid transparent;
}

.number-circle span:hover {
  background-color: #aaa;
}

.number-circle span.selected {
  background-color: rgba(82, 179, 116);
}

.number-circle span.selected,
.number-circle span:hover {
  border-color: rgba(82, 179, 116);
}
#comments {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-button {
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.send-button {
  background-color: #008040;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#commentsLabel {
  display: block;
  margin-bottom: 10px;
}

@keyframes slideDown {
  0% {
    top: -100px;
  }
  100% {
    top: 50%;
  }
}
#thankYouPopup {
  display: none;
  position: fixed;
  text-align: center;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: 80%;
  max-width: 300px;
  animation: slideDown 1s forwards;
}
